.navBarList {
  display: flex;
  background-color: #AFDDE5;
  justify-content: space-evenly;
  color: #003135;
  border-radius: 0px 0px 7px 7px;
}
.navBarList li{
  border: 3px solid #0FA4AF;
  border-radius: 7px;
  padding: 5px
}